@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: Helvetica, Roboto, sans-serif;
    @apply text-secondary;
  }

  body {
    @apply bg-primary;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    font-size: 2rem; /* 32px */
    line-height: 1.25;
  }

  h2 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.4;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 3.5rem; /* 56px */
      line-height: 1.17857;
    }

    h2 {
      font-size: 2rem; /* 32px */
      line-height: 1.25;
    }
  }

  a {
    @apply underline;
    text-underline-offset: 0.1875em;
    max-width: fit-content;
  }

  ol {
    list-style: decimal inside;
  }

  ul {
    list-style: inside;
  }

  pre {
    overflow-x: auto;
  }

  code {
    background-color: #303030;
    padding: 0.1em;
  }

  pre > code {
    display: inline-block;
    min-width: 100%;
  }

  img,
  code {
    @apply rounded;
  }

  button,
  .button {
    @apply px-6 py-2 no-underline block max-w-full md:w-max rounded-full bg-accent text-primary font-medium text-center;
  }
}
