@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: local('Roboto Bold'), url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'),
      url('/fonts/Roboto-Mono-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Mono-Regular.woff') format('woff');
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    @apply text-secondary;
  }

  ::selection {
    @apply bg-accent text-primary;
  }

  body {
    @apply bg-primary;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1,
  h2 {
    @apply text-3xl;
  }

  a {
    @apply max-w-fit text-accent hover:underline;
  }

  ol {
    list-style: decimal inside;
  }

  ul {
    list-style: inside;
  }

  pre,
  img,
  input {
    @apply rounded-lg; /* All border radius should be the same */
  }

  pre {
    @apply overflow-x-auto;
  }

  code {
    @apply bg-light-primary p-[0.1em] rounded;
  }

  pre > code {
    @apply inline-block min-w-full;
  }

  input[type='search'] {
    -webkit-appearance: none;
  }

  input {
    @apply text-primary px-4 py-2 focus:outline-none;
  }
}
